<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SWMVC</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link rel="stylesheet" href="static/css/reset.css">
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<div id="wrap">
			<div class="header">
				<ul id="nav">
					<li><a href="index.php">Accueil</a></li>
					<li><a href="?c=home&a=listing">Listing</a></li>
				</ul>		
			</div>
			<div class="content"><?php echo $content; ?></div>
			<div class="footer"></div>
		</div>
	</body>
</html>