<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7 oldie" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>SWMVC</title>
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" href="static/css/knacss.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>	
<body class="w960p center">
	<header class="line mod">
		<p>header</p>
	</header>

	<div class="row gut">
		<aside class="col w200p">
			<p>aside</p>
			<p>aside</p>
			<p>aside</p>
		</aside>
		<div class="col content">
			<h1>Lorem Elsass ipsum</h1>
			<div class="item">
				<?php echo $content; ?>
			</div>
		</div>
		<aside class="col w200p">
			<p>aside</p>
			<p>aside</p>
			<p>aside</p>
		</aside>		
	</div>
	
	<footer class="line mod">
		<p>footer</p>
	</footer>
	
</body>
</html>